*.pyc
*.pyo
*.class
*~
*.DS_Store
wine-py2exe/
py2exe.log
*.kate-swp
build/
dist/
MANIFEST
README.txt
nextdl.1
nextdl.bash-completion
nextdl.fish
nextdl/extractor/lazy_extractors.py
nextdl.exe
nextdl.tar.gz
.coverage
cover/
updates_key.pem
*.egg-info
*.srt
*.ttml
*.sbv
*.vtt
*.flv
*.mp4
*.m4a
*.m4v
*.mp3
*.3gp
*.wav
*.ape
*.mkv
*.swf
*.part
*.nextdl
*.swp
test/local_parameters.json
.tox
nextdl.zsh

# IntelliJ related files
.idea
*.iml

tmp/
venv/

# IDE related files
.vscode/
.vs/
.idea/
